## Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Swift Package Manager
.swiftpm/
.build/
Package.resolved

## CocoaPods (if ever used)
Pods/

## Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

## Generated artifacts from cargo + UniFFI
Generated/
*.a
*.dylib
